:root{
--corPrimaria: #000000;
--corSecundaria: #ff00aa;
}

body {
    background-color: darkblue;
}


footer a {
color: var(--corPrimaria);
padding: 10%;
font-size: 20px;
}

footer a:hover{
    opacity: 80%;
}